@import "mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #ff6721da;
  background: radial-gradient(#f1cf0bda, red);
  height: 100vh;
  position: relative;
  font-family: sans-serif;
  padding-top: 20px;
  img{
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  h1{
    color: #FFE4D1;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
  }
  p{
    color: #1a1919;
    text-align: center;
    font-size: 18px;
  }
  .container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    .person{
      @include person;
      h1{
        margin-top: 200px;
      }
      .blood1{
        height: 30px;
        width: 170px;
        position: absolute;
        left: 100px;
        bottom: 200px;
        .dot1, .dot2, .dot3{
          @include blood_dots;
          animation-name: blood;
          img{
            width: 100%;
          }
        }
        .dot2{
          animation-delay: .3s;
        }
        .dot3{
          animation-delay: .6s;
        }
      }
      .blood2{
        height: 30px;
        width: 200px;
        position: absolute;
        left: -45px;
        top: 275px;
        transform: rotate(-40deg);
        transform-origin: left center;
        z-index: 1;
        .dot1, .dot2, .dot3{
          animation-name: blood2;
          @include blood_dots;
          img{
            width: 100%;
          }
        }
        .dot2{
          animation-delay: .3s;
          img{
            width: 100%;
          }
        }
        .dot3{
          animation-delay: .6s;
          img{
            width: 100%;
          }
        }
      }
      img{
        width: 400px;
      }
    }
    .inout{
      width: 50%;
      height: 100%;
      .in{
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
          @include label_style;
        }
        select {
          @include input_style;
        }
      }
      .out{
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
          @include label_style;
        }
        input{
          @include input_style;
        }
      }
      .button_area{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .btn1{
          @include button_Style;
          &::after{
            content: "See Result";
            @include button_after;
          }
          &:hover{
            color: transparent;
          }
          &:hover::after{
            top: 0;
          }
        }
        .btn2{
          @include button_Style;
          &::after{
            @include button_after;
            content: "Reset";
          }
          &:hover{
            color: transparent;
          }
          &:hover::after{
            top: 0;
          }
        }
      }
    }
  }
}
@keyframes blood{
  100%{
    margin-left: 147px;
  }
}
@keyframes blood2{
  100%{
    margin-left: 180px;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  body{
  .container{
    width: 400px;
    .person{
      display: none;
    }
    .inout{
      width: 80%;
      margin: 0 auto;
      .button_area{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .btn1{
          width: 40%;
        }
        .btn2{
          width: 40%;
        }
      }
    }
  }
}
}